name: Model Unit Tests

on:
  workflow_dispatch:
    inputs:
      name:
        description: "Name of the model"
        required: true
      args:
        description: "Commandline args for 'repro setup'"
        required: false

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.6
      uses: actions/setup-python@v2
      with:
        python-version: 3.6

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --editable .

    - name: Build the Docker image
      run: |
        repro setup ${{ github.event.inputs.name }} ${{ github.event.inputs.args }}

    - name: Test with pytest
      run: |
        pytest models/${{ github.event.inputs.name }}/tests
